@model IEnumerable<dynamic>
@using System.IO

<div class="container text-center mt-4">
    <h2 class="text-center mb-4">Documents</h2>

    @if (Model != null && Model.Any())
    {
        <ul class="p-0 d-flex">
            @foreach (var file in Model)
            {
                Console.WriteLine(file);
                <div class="card p-2" style="width: 18rem;">
                    <img src="@Url.Content(file.FileName)" class="card-img-top" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">@file.DocumentName</h5>
                    </div>
                </div>
            }
        </ul>
    }
    else
    {
        <p>No documents available for this Student.</p>
    }

    <div class="text-end mb-4">
        <a class="btn btn-success mx-2 text-end" asp-controller="Student" asp-action="Index">Back to List</a>
    </div>
</div>