<div class="container table-container mt-3">
    <div class="header text-center mb-3">
        <h2>Provisional Examination Result - July 2024</h2>
        <p>Name: <strong>BHAVIN SINGHVI</strong></p>
        <p>Program: <strong>MASTER OF COMPUTER APPLICATIONS</strong></p>
        <p>USN: <strong>221VMTR00201</strong></p>
        <p>Semester: <strong>4</strong></p>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>SlNo</th>
                <th>Course Title</th>
                <th>Continuous Assessment Marks</th>
                <th>End Semester Examination Marks</th>
                <th>Practical Marks</th>
                <th>Total Marks</th>
                <th>Credits</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING</td>
                <td>23</td>
                <td>57</td>
                <td>-</td>
                <td>80</td>
                <td>04</td>
                <td class="fw-bold text-green">A</td>
            </tr>
            <tr>
                <td>2</td>
                <td>BIG DATA ANALYTICS</td>
                <td>26</td>
                <td>61</td>
                <td>-</td>
                <td>87</td>
                <td>04</td>
                <td class="fw-bold text-green">A</td>
            </tr>
            <tr>
                <td>3</td>
                <td>DEFENSIVE CYBER SECURITY TECHNOLOGIES</td>
                <td>30</td>
                <td>55</td>
                <td>-</td>
                <td>85</td>
                <td>04</td>
                <td class="fw-bold text-green">A</td>
            </tr>
            <tr>
                <td>4</td>
                <td>INTERNET OF THINGS</td>
                <td>28</td>
                <td>61</td>
                <td>-</td>
                <td>89</td>
                <td>04</td>
                <td class="font-weight-bold text-green">A</td>
            </tr>
            <tr>
                <td>5</td>
                <td>IT PROJECT MANAGEMENT</td>
                <td>28</td>
                <td>59</td>
                <td>-</td>
                <td>87</td>
                <td>04</td>
                <td class="fw-bold text-green">A</td>
            </tr>
            <tr>
                <td>6</td>
                <td>PROJECT</td>
                <td>-</td>
                <td>-</td>
                <td>80</td>
                <td>80</td>
                <td>06</td>
                <td class="fw-bold text-green">A</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mb-3">
        <p>Class: <strong>EXCELLENT</strong></p>
        <p>Grand Total: <strong>508</strong></p>
        <p>SGPA: <strong>9.00</strong></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
